.orderSuccess {
    margin: auto;
    text-align: center;
    padding: 10vmax;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.orderSuccess>svg {
   font-size: 60px;
    color: tomato;
}

.orderSuccess>p {
    font-size: 20px;
}

.orderSuccess>a {
    background-color: rgb(51, 51, 51);
    color: #fff;
    padding: 1vmax 3vmax;
    border: none;
    cursor: pointer;
    font: 400 15px "Roboto";
    text-decoration: none;
    margin: 2vmax;
}

@media screen and (max-width: 600px) {
    .orderSuccess>a {
        padding: 3vmax 6vmax;
        font: 400 15px "Roboto"!important;
        margin: 2vmax;
    }

    .orderSuccess>svg {
        font-size: 60px!important;
    }

    .orderSuccess>p {
        font-size: 20px!important;
        margin: 2vmax;
    }
}